a {
  color: blue; /* color del texto del enlace */
  text-decoration: none; /* quita el subrayado del enlace */
  padding: 10px; /* añade un espacio alrededor del texto del enlace */
  border: 1px solid blue; /* añade un borde alrededor del enlace */
  border-radius: 5px; /* hace que los bordes sean más suaves */
}

a:hover {
  background-color: blue; /* cambia el color de fondo cuando se pasa el ratón por encima */
  color: white; /* cambia el color del texto a blanco cuando se pasa el ratón por encima */
}

router-outlet {
  display: block; /* asegura que el router-outlet se muestra como un bloque */
  margin-top: 20px; /* añade un espacio en la parte superior del router-outlet */
}
